{% extends 'base.html' %}

{% block header %}
<h1> Torrent Health Tracker <a style="float: right;"> Updated: {{ update_time }} UTC </a>
</h1>
<h4> <a href="./README">(about</a> | <a href="https://github.com/zrthstr/libgen_torrent_cardiography">code |<a href=./index.html> index</a> )</a>
<a style="float: right;" href="./torrent.json">(download as json)</a>
</h4>

{% endblock %}

{% block content %}
<center>
<table>
  <thead>
      <th>Collection</th>
      <th>Torrent Count</th>
  </thead>
  <tbody>
</center>
{% for k, v in stats.items() %}
<tr>
  <td>  {{k}} </td>
  <td>  {{v}} </td>
</tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
